<html>
    <head>
        <title>CIET's Eficiencia Energética blog</title>
    </head>
    <body>

      </div>
        <h1>Ahorro de energía</h1>

        <h2>Introducción</h2>

        <p>ULa casa es por definición, el ámbito de lo privado. El lugar donde se cumplen algunas de las aspiraciones más
profundas del ser humano, ligadas con la idea de la supervivencia, de la intimidad y del refugio. La casa puede
suponer la protección física de las personas o de las cosas, la protección del descanso o de la convivencia. Pero,
por encima de todo, la casa representa, desde sus orígenes, el lugar de protección del fuego. Un fuego elemental
que hay que conservar y al que hace referencia la misma expresión de "hogar". Un fuego en torno al cual los
seres humanos se calientan, cocinan los alimentos y se iluminan por la noche... un consumo de energía
necesario para la vida.
Consumir energía es sinónimo de actividad, de transformación y de progreso, siempre que ese consumo esté
ajustado a nuestras necesidades y trate de aprovechar al máximo las posibilidades contenidas en la energía.
Desde las necesidades más básicas y primitivas (calentarse con una hoguera o cocinar los alimentos), a las más
modernas y sofisticadas (conservar esos mismos alimentos durante varios meses o enviar mensajes por escrito a
través de un fax), la mejora de las condiciones de vida de los hombres o de su nivel de bienestar han exigido
siempre disponer de un excedente de energía que pudiese ser consumido. El consumo de energía, también en el
hogar, es por tanto sinónimo de progreso, de aumento de la infraestructura, los bienes y servicios disponibles y
de la satisfacción de las necesidades.
<em>Un principio esencial para el ahorro de energía consiste en conocer cómo funcionan los equipos y aparatos en
el hogar,</em>
Es importantísimo tener en cuenta que la trascendencia y la complejidad que hoy en día supone el consumo de
energía en el interior de los hogares, no sólo no están reñidas sino todo lo contrario, con la posibilidad de hacer
un buen uso de esta energía y utilizarla con la mayor eficiencia.</p>
      </div>
        <p>published: 06.10.2018, 12:14</p>
                <h2><a href="">Boletin energético n° 1</a></h2>

            </div>
        </body>
    </html>
